@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";
/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #f3f3f3;
}



.buttons{
  position: absolute; 
bottom: 20px;
}
.btn{
  margin-top: 15px;
}


.dog {
  margin-top: 15px;
  background-color: #f3f3f3;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.right {
  float: right;
}

.doggy {
  background: url("../assets/images/doggie.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -105px;
}


#addDog{
  margin-left: 100px;
}

.card {
  min-height: 380px;
  min-width: 370px;
}

@media screen and (min-width: 768px) {
  #adv-search {
      width: 500px;
      margin: 0 auto;
      bottom: 38px;
  }
 
}